{% block content %}
<style>
  .card {
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(17, 16, 16, 0.2);
    margin-top: 70px;
    max-width: 700px;
    margin-left: 350px;
    text-align: left;
    
    
    font-family: arial;}
  </style>
  <body style="background-color:whitesmoke">
  <div class="card">
  <h2 style="text-align:center">Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
  </form>
</div>
</body>
{% endblock %}